@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  color: #172554;
  background-color: #eff6ff;
  font-size: large;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}


h3 {
  font-size: large;
  font-weight: bold;
}

