@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body p {
  font-size: 20px;
  line-height: 2rem;
}

body span {
  font-size: 20px;
  line-height: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.rich-text h2 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}


.rich-text h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.rich-text p {
  margin-bottom: 2rem;
}

.rich-text img {
  display: block;
  margin: 0 auto;
}